.card {
  word-wrap: inherit;
  margin-top: 1em;

}
.custom {
   margin-bottom: 5%;
}
.custom-card li{
  border: 2px solid WHITE;

}
.badge {
  margin-left: 1.7em !important;
}
.custom-card {
  display: -webkit-inline-box;
  border: 0px solid black;
}
.list-group {
    flex-direction: row;}
.table-responsive {
  height: 400px;
  overflow: scroll;
}

thead tr:nth-child(1) th {
  position: sticky;
  top: -0.05em;
  z-index: 10;
}

body {
  background-color: white;
  color: black;
}
.countries{
font-size:large;}
.violet{
  color: #581845;
}
.yellow{
  color: #900C3F;
}
.red {
  color: red;
}

.blue {
  color: #3331CB ;
}

.green {
  color: green;
}

.jumbotron {
  background-color: white;
  color: black;
}

.jumbotron img {
  max-width: 60%;
  max-height: 60%;
}

.table .thead-light th {
  color: #495057;
  background-color: #F7F7F7 !important;
  border-color: #dee2e6;
}

.spinner-grow {
  margin-top: 5%;
  margin-bottom: 5%;
}

.thead-light {
  background-color: rgba(0, 0, 0, .03) !important;
}

table {
      font-weight: 500;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  text-align: left;
  padding: 8px;
}
